# Pandas
Pandas is a popular Python data analysis tool.

It provides easy to use and highly efficient data structures.

These data structures deal with numeric or labeled data, stored in the form of tables

# Data Structures in Pandas
Three fundamental data structures used in pandas are,

Series: A 1-D array.

Data Frame: A 2-D array or two or more Series joined together

Panel: A 3-D array

# Accessing Data
Individual elements can be accessed by specifying either index number or index value, inside the square brackets.

In [60]:
import pandas as pd
import numpy as np
z = np.arange(10, 16)
s = pd.Series(z, index=list('abcdef'))
#Accessing 3rd element of s.
s[2] # ---> Returns '12' 
#Accessing 4th element of s.
s['d'] # ---> Returns '13'

13

# Accessing a Single Value
It is also possible to access a single element by passing index number or index value, as an argument to get method.

In [13]:
s.get(2) # ---> Returns '12'
s.get('d') # ---> Returns '13'

13

# Accessing Data from a Data Frame
Pandas allows .loc, .iloc methods for selecting rows.

Using square brackets ([]) is also allowed, especially for selecting columns.

More details can be gathered from the shown video.

In [15]:
import pandas

df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df

     A   B
r1  34  12
r2  78  67
r3  54  43

# Knowing a Series
It is possible to understand a Series better by using describe method.

The method provides details like mean, std, etc. about a series

In [23]:
import pandas as pd
import numpy as np
temp = pd.Series(28 + 10*np.random.randn(10))
print(temp.describe())

count    10.000000
mean     25.502654
std      11.524499
min       7.848411
25%      19.993874
50%      23.256424
75%      34.191455
max      45.919992
dtype: float64

# Knowing a DataFrame
Two methods majorly info and describe can be used to know about the data, present in a data frame.

In [24]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'temp':pd.Series(28 + 10*np.random.randn(10)), 
                'rain':pd.Series(100 + 50*np.random.randn(10)),
             'location':list('AAAAABBBBB')})
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
temp        10 non-null float64
rain        10 non-null float64
location    10 non-null object
dtypes: float64(2), object(1)
memory usage: 320.0+ bytes
None

# Knowing a Data Frame
You can use include argument to know about other columns.

In [25]:
print(df.describe(include=['object']))

       location
count        10
unique        2
top           A
freq          5

# I/O with Pandas
Pandas provides support for reading/writing data from/to some sources.

For example, read_csv is used to read data from a CSV file and to_csv is utilized to write data to a CSV file.

# Reading Data from Json
pandas provides the utilities read_json and to_json to deal with JSON strings or files.

Consider the below string EmployeeRecords for understanding conversion of a JSON string into a data frame.

In [26]:
EmployeeRecords = [{'EmployeeID':451621, 'EmployeeName':'Preeti Jain', 'DOJ':'30-Aug-2008'},
{'EmployeeID':123621, 'EmployeeName':'Ashok Kumar', 'DOJ':'25-Sep-2016'},
{'EmployeeID':451589, 'EmployeeName':'Johnty Rhodes', 'DOJ':'04-Nov-2016'}]

In [27]:
import json
emp_records_json_str = json.dumps(EmployeeRecords)
df = pd.read_json(emp_records_json_str, orient='records', convert_dates=['DOJ'])
print(df)

         DOJ  EmployeeID   EmployeeName
0 2008-08-30      451621    Preeti Jain
1 2016-09-25      123621    Ashok Kumar
2 2016-11-04      451589  Johnty Rhodes

# Indexing
Indexing refers to labeling data elements of a Series, a Data Frame or a Panel.

These labels can be utilized for selecting portion of data from any of the defined data structures.

# Indexing a Data Frame
A single level index can be set to a data frame, by passing a list of values to either using index attribute or index argument of DataFrame function.

In [28]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(5,2))
df.index = [ 'row_' + str(i) for i in range(1, 6) ]
df

              0         1
row_1  0.020748  0.398563
row_2  0.452581  0.502894
row_3  0.344559  0.549444
row_4  0.867008  0.870582
row_5  0.636587  0.044933

# DateTime Indexes
Pandas support generating a range of dates, with methods like date_range, bdate_range.

In [29]:
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')

In [30]:
d + pd.Timedelta('1 days 2 hours')

DatetimeIndex(['2017-09-12 02:00:00', '2017-09-14 02:00:00',
               '2017-09-16 02:00:00', '2017-09-18 02:00:00'],
              dtype='datetime64[ns]', freq='2D')

In [31]:
import pandas as pd

d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [33]:
PeriodIndex=pd.period_range('11-Sep-2017', '17-Sep-2017', freq='M')
len(PeriodIndex)

1

# Data Cleaning
Data Cleaning refers to transformation of raw data to a useful structured form, which is used for further analysis.

The process includes various steps like dealing with missing values.

# Data Cleaning Methods
Pandas provide methods like drop_duplicates, isnull, etc to deal with missing data.

The below video illustrates various methods used for dealing with missing data.

# Data Aggregation
Data Aggregation refers to identifying data satisfying a condition.

It helps in studying one or more aggregated groups together.

# Transforming Data
Consider the below defined data frame df, for understanding Data transformation.

In [34]:
df = pd.DataFrame({'temp':pd.Series(28 + 10*np.random.randn(10)),
                   'rain':pd.Series(100 + 50*np.random.randn(10)),
                   'location':list('AAAAABBBBB')
})
print(df.head(2))

        temp        rain location
0  25.742712   60.201286        A
1  28.044611  118.797366        A

# Transforming Data
The below code replaces location names 'A' with 'Hyderabad' and 'B' with 'Mumbai'.

In [35]:
replacements = {
'location': {'A':'Hyderabad', 'B':'Mumbai'}
}
df = df.replace(replacements, regex=True)
print(df.head(2))

        temp        rain   location
0  25.742712   60.201286  Hyderabad
1  28.044611  118.797366  Hyderabad

# Transforming Data
It is also possible to filter rows, based on a column strings with a specific pattern and modify them.

In [36]:
mumbai_data = df.loc[df.location.str.contains('umb'),:]

print(mumbai_data.head(2))

        temp        rain location
5  14.685726  119.852946   Mumbai
6  40.538044  102.744401   Mumbai

# Grouping Data
groupby method can be used to group data and perform various function on each group

In [37]:
regions = df.groupby('location')
print(regions.mean())

                temp        rain
location
Hyderabad  24.210822   72.909057
Mumbai     29.306292  110.526412

# Merging Data
Data Merging refers to combining data stored in multiple entities based on a specific criteria.

Pandas provides utilities like merge, which is used to merge two or more data frames.

# Merging Data Frames
Pandas provide merge method to join two data frames.

The below video illustrates merging two data frames based on one and more keys.

In [39]:
import pandas as pd

s1 = pd.Series([0, 1, 2, 3])
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5])
d = pd.concat([s1, s2, s3], axis=1)

d.shape

(4, 3)

In [51]:
import pandas as pd

df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df.loc['r2':'r3']

     A   B
r2  78  67
r3  54  43

In [54]:
s = pd.Series([99, 32, 67],list('abc'))
s.isin([67,32])

a    False
b     True
c     True
dtype: bool

# Task 1
Create a series named heights_A with values 176.2, 158.4, 167.6, 156.2, and 161.4. These values represent the heights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Create another series named weights_A with values 85.1, 90.2, 76.8, 80.4, and 78.9. These values represent the weights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Create a dataframe named df_A, which holds the height and weight of five students s1, s2, s3, s4 and s5.

Label the columns as Student_height and Student_weight, respectively.

Filter the rows from df_A, whose Student_height > 160.0 and Student_weight < 80.0, and capture them in another dataframe df_A_filter1.

Print the dataframe df_A_filter1

# Task 2
Filter the rows from df_A, whose index values end with 5, and capture them in another dataframe df_A_filter2.

Print the dataframe df_A_filter2

# Task 3
Create a new column Gender in the dataframe df_A using the command: df_A['Gender'] = ['M', 'F', 'M', 'M', 'F']
Group df_A based on Gender, and capture the result in df_groups.
Print the mean height and weight of each group. Note: Use the groupby method to group df_A, and then call the mean method on grouped data df_groups.